*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    background-color: #4527a0;
}

h1, h2, h3, h4, h5, h6, p, a, strong, em, small {
    color: #FDFDFD;
    word-wrap: break-word;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: 'Noto Sans', 'Helvetica', sans-serif;
}

.full-height {
    height: 100%;
    background-color: #4527a0;
}

.drop-shadow {
    -webkit-box-shadow: 0px 7px 8px 0px rgba(36,36,36,0.3);
    -moz-box-shadow: 0px 7px 8px 0px rgba(36,36,36,0.3);
    box-shadow: 0px 7px 8px 0px rgba(36,36,36,0.3);
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 0px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: #43a047; /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: #ef6c00; /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-xsmall {
    font-size: 70%;
    padding: 0.25em auto;
}

.pure-button-primary {
    background-color: #1e88e5;
}

.full-width {
    width: 100%;
}

.search {
    border-radius: 0px !important;
    height: 40px;
    margin: 0 !important;
}

.no-radius {
    border-radius: 0px !important;
}

.fixed {
    position: fixed;
}

.show-search {
    top: 80px;
    -webkit-transition: all 250ms !important;
    -moz-transition: all 250ms !important;
    -ms-transition: all 250ms !important;
    -o-transition: all 250ms !important;
    transition: all 250ms !important;
}

.offscreen {
    top: -80px;
}

.show-search.offscreen {
    top: 0px;
}

.search-form {
    width: 100%;
}

.animated {
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}

a {
    text-decoration: none;
}

span.live {
    font-weight: bold;
    color: #40BF5B;
}

span.offline {
    font-weight: bold;
    color: #C15644;
}

.fixed-button {
    position: fixed;
    top: 50%;
}

.fixed-button-left {
    left: 0px;
}

.fixed-button-right {
    right: 0px;
}

.spacer {
    height: 20px;
}

.channel-box {
    padding: 5px;
}

.record {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 2s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    color: #DA1E3C;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
