<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitch Search</title>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type="text/css">
    <link href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css" rel="stylesheet" type="text/css">
    <link href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css" rel="stylesheet" type="text/css">
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="css/main.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="search">
    <div class="full-height pure-g" ng-controller="SearchController">
        <!--<div class="pure-u-1-1 drop-shadow menu">
            <div class="pure-menu pure-menu-horizontal">
                <a href="#" class="pure-menu-heading pure-menu-link">Twitch Search</a>
            </div>
        </div>-->
        <form ng-submit="doSearch()" class="pure-form search-form fixed offscreen animated" ng-class="{'show-search': displayed}">
            <div class="pure-u-3-4">
                <input type="text" class="pure-input-1 search" placeholder="Search..." name="search" ng-model="search.query" />
            </div>
            <div class="pure-u-1-4">
                <button ng-click="search.type = !search.type" type="button" class="pure-button pure-input-1 search" ng-class="{'button-success': search.type, 'button-warning': !search.type}">{{ search.type ? 'Live' : 'All' }}</button>
            </div>
            <div class="pure-u-1-1">
                <button class="pure-button pure-button-primary pure-input-1 search" type="submit">Onward!</button>
            </div>
        </form>
        <div class="pure-u-1-1">
            <div class="pure-u-5-12"></div>
            <div class="pure-u-1-6 fixed animated" ng-class="{'show-search': displayed}"><button type="button" class="pure-button button-xsmall pure-input-1 full-width no-radius" ng-click="displayed = !displayed">Search</button></div>
        </div>
        <div class="spacer"></div>
        <div class="pure-u-1-24"></div>
        <div class="pure-u-11-12">
            <h1 ng-if="!!search.last">Results for {{search.last}}</h1>
            <div class="pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-4 pure-u-xl-1-6 channel-box" ng-repeat="channel in channels">
                <a ng-href="{{channel.url || channel.channel.url}}">
                    <img class="pure-img" ng-src="{{channel.preview.large || channel.logo || default_profile_image}}" />
                    <div>
                        <strong>{{channel.display_name || channel.channel.display_name}}</strong>
                    </div>
                    <div>
                        <em>{{channel.status || channel.channel.status}}</em>
                    </div>
                    <div>
                        <i class="fa fa-heart"></i> {{channel.followers || channel.channel.followers}} | <i class="fa fa-eye"></i> {{channel.views || channel.channel.views}}<span ng-if="!!channel.viewers"> | <i class="fa fa-users"></i> {{channel.viewers}}</span>
                    </div>
                </a>
            </div>
            <div class="fixed-button fixed-button-left" ng-if="links.prev">
                <button ng-click="doSearch('prev')" type="button" class="pure-button button-primary"><i class="fa fa-chevron-left"></i> Previous</button>
            </div>
            <div class="fixed-button fixed-button-right" ng-if="links.next">
                <button ng-click="doSearch('next')" type="button" class="pure-button button-primary">Next <i class="fa fa-chevron-right"></i></button>
            </div>
        </div>
        <div class="pure-u-1-24"></div>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-56155581-2', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>